body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffe6eb;
    font-family: Arial, sans-serif;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

#yes {
    background: #ff4d6d;
    color: white;
}

#no {
    background: #ccc;
    position: absolute;
}
